<%= simple_form_for(@idea) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, label: "Název", placeholder: "Co chcete?", :input_html => {:maxlength => 30, :size => 40} %>
    <%= f.input :content, label: "Obsah", placeholder: "Proč by se to mělo řešit?", :size => 40, :max => 4 %>
    <%= f.input :first_name, label: "Křestní jméno" %>
    <%= f.input :last_name, label: "Příjmení"  %>
  </div>

  <p>Čas na hlasování je jeden měsíc.</p>

  <div class="form-actions">
    <%= f.button :submit, class: "btn" %>
  </div>
<% end %>
