<%= simple_form_for([idea, idea.votes.new]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.hidden_field :idea_id %>
      <%= f.hidden_field :state, value: false %>
    </div>

    <span style="font-size: 1.5em; line-height: 1.2;" class="downvote">
      <i class="glyphicon glyphicon-thumbs-down"></i>
    </span>
<% end %>

<%= simple_form_for([idea, idea.votes.new]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.hidden_field :idea_id %>
      <%= f.hidden_field :state, value: true %>
    </div>

    <span style="font-size: 1.5em; line-height: 1.2;margin-left: 10px;" class="upvote">
      <i class="glyphicon glyphicon-thumbs-up"></i>
    </span>
<% end %>
