
  <%= simple_form_for([idea, idea.votes.new]) do |f| %>
    <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.hidden_field :idea_id %>
        <%= f.hidden_field :state, value: true %>
      </div>


    <%= button_tag :submit do %>
      <span style="font-size: 1.5em; line-height: 1.2;">
        <%= idea.down_votes.count %>
        <i class="glyphicon glyphicon-circle-arrow-down"></i>
      </span>
    <% end %>
  <% end %>


<span style="font-size: 1.5em; line-height: 1.2;margin-left: 10px;">
  <%= idea.up_votes.count %>

  <%= simple_form_for([idea, idea.votes.new]) do |f| %>
    <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.hidden_field :idea_id %>
        <%= f.hidden_field :state, value: false %>
      </div>

    <div class="form-actions">
      <%= f.button :submit, "DOWNVOTE" %>
      <i class="glyphicon glyphicon-circle-arrow-up"></i>
    </div>
  <% end %>
</span>